name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build app
        run: ./scripts/buildprod.sh

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: "Build Image and push to GCP Artifact Registry" 
        run: gcloud builds submit --tag europe-west2-docker.pkg.dev/notely-393114/notely-ar-repo/axtr/notely:latest .

      - name: 'Deploy to Cloud Run'
        run: gcloud run deploy notely --image europe-west2-docker.pkg.dev/notely-393114/notely-ar-repo/axtr/notely:latest --region us-central1 --allow-unauthenticated --project notely-393114 --max-instances=4

